.config .lbl2-27 {font-weight: 400;font-size: 16px;color: #666666;background: #F2F2F2;padding: 10px 15px;}
.config .wrapper2-15 {display: flex;margin: 15px;align-items: center;}
.config .icon2-15 {width: 30px;height: 30px;display: inline-block;border-radius: 50%;background-color: #FF0002;margin-right: 10px;background-position: -2px -97px;}
.config .toggle.toggle-ios.item.item-toggle.toggle-large {border: none;height: 40px;}
.config #toggle-6-0 {display: none;}
.config .toggle .track {width: 50px;height: 25px;}
.config .toggle .handle{width: 25px;height: 25px;top: 5px;}
.config .lbl2-28 {width: calc(100% - 134px);}