.fpassword {background: #333;width:100%;height:100%;top: 0;left: 0;}
.fpassword .scroll {display: flex;align-items: center;justify-content: center;text-align: center;height: 100%;}
.fpassword .box-type20 {background: #fff;padding: 0 0 10px 0;width: 90%;max-width: 400px;}
.fpassword .header-type2 {display: flex;align-items: center;justify-content: flex-start;background: #3a7cec;}
.fpassword .header-type2 .btn-type3 {width: 45px;color: #fff;font-size: 38px;line-height: 40px;padding: 0 0 5px 0;font-weight: 100;background-color: transparent;border: none;}
.fpassword .lbl-31 {color: #fff;padding: 0;text-transform: uppercase;text-align: left;margin: 0;}
.fpassword .item-stacked-label {background-color: transparent;box-shadow: none;display: -webkit-flex;border: none;}
.fpassword .box-type20 .item-input.item-stacked-label, .fpassword .box-type20 .btn-type18 {margin: 0 auto;width: 90%;}
.fpassword .item-input[class*="ion"]:before {position: absolute;left: 5px;top: 20px;font-size: 25px;transform: scale(-1,1);color: #999;}
.fpassword .item.item-input.item-stacked-label {text-align: left;padding: 5px 0 5px 35px;}
.fpassword .item-stacked-label input[type="text"],
.fpassword .item-stacked-label input[type="password"],
.fpassword .item-stacked-label input[type="email"],
.fpassword .item-stacked-label input[type="number"] {
    padding: 0;
    font-size: 14px;
    border-bottom: 1px solid #999;
    line-height: 34px;
    height: 28px;
    color: #777777;
    background: transparent;
    border-radius: 0;
    font-weight: normal;
}
.fpassword .item-stacked-label .input-label {font-size: 12px;color: #999;padding: 0;display: block;width: 100%;text-align: left;}
.fpassword .item-stacked-label input:placeholder-shown + .input-label {opacity: 0;}
.fpassword .item-input.color-2[class*="ion"]:before {color: #0084fd;}
.fpassword .item-input.item-stacked-label .assertive {font-size: 12px;padding-top: 5px;width: 100%;text-align: left;}
.fpassword .toggle2-1 {display: -webkit-inline-box;width: 90%;margin: 0px 5% 5px 5%;height: 40px;line-height: 40px;padding: 0;border: 1px solid #4A90E2;border-radius: 3px;}
.fpassword .captcha-img {background-image: url(../../res/img/capcha.png);background-color: transparent;font-family: Arial;font-size: 40px;width: 40%;height: 45px;border: none;color: black;line-height: 45px;    font-style: italic;}
.fpassword .input-captcha {width: 56%;margin-left: 15px;height: 45px;padding: 5px;border: 1px solid #ddd;border-radius: 5px;text-align: center;color: #777777;}
.fpassword .captcha {display: flex;width: 90%;margin: 10px auto;}
.fpassword .lbl2-nhan {font-size: 14px;color: #999;padding: 0;display: block;width: 90%;margin: 15px auto 5px;text-align: left;}
.fpassword .btn-type8.style-disabled {background: #F2F2F2;color: #bababa;position: relative;text-align: center;}
.fpassword .btn-type8 {border: none;position: relative;text-align: center;height: 40px;line-height: 40px;padding: 0 10px;text-transform: uppercase;box-shadow: 0px 1px 2px #7f7f7f;border-radius: 4px;width: 100%;background-color: #3a7cec;color: #fff;width: 90%;margin: 10px auto 0 auto;}
