<!DOCTYPE html>
<ion-view view-title="{{::title}}" class="list-giaoviec" hide-back-button="false">
    <ion-content scroll="false" class="content-type1">
        <div class="fixed-top list-giaoviec2">
            <form ng-submit="onSearch()">
                <div class="wrapper2-3">
                    <input ng-if="tabIndex===0" type="text" ng-model="searchForm.KeyWord" class="txt2-3" placeholder="Nhập tìm kiếm" />
                    <input ng-if="tabIndex===1" type="text" ng-model="searchFormDG.KeyWord" class="txt2-3" placeholder="Nhập tìm kiếm" />
                    <button type="submit" class="btn2-4 iconsprite2-2"></button>
                </div>
            </form>
            <div class="content">
                <button class="btn1-1" ng-class='{active: tabIndex===0}' ng-click='onTabChange(0)'>
                    Được giao </button>
                <button class="btn1-1" ng-class='{active: tabIndex===1}' ng-click='onTabChange(1)'>Đã giao </button>
                <div class="content child" ng-show="tabIndex===0">
                    <button class="btn1-1" ng-class='{active: chiltabIndex==0}' ng-click='onChilTabChange(0)'>Chưa xử lý {{countGVDuocGiao || ""}}</button>
                    <button class="btn1-1" ng-class='{active: chiltabIndex==1}' ng-click='onChilTabChange(1)'>Đã xử lý {{countGVDaGiao || ""}}</button>
                </div>
                <div class="content child" ng-show="tabIndex===1">
                    <button class="btn1-1" ng-class='{active: chiltabIndex==0}' ng-click='onChilTabChange(0)'>Chưa xử lý {{countGVDuocGiao || ""}}</button>
                    <button class="btn1-1" ng-class='{active: chiltabIndex==1}' ng-click='onChilTabChange(1)'>Đã xử lý {{countGVDaGiao || ""}}</button>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-content class="has-header">
        <ion-refresher pulling-text="Lấy dữ liệu mới" on-refresh="doRefresh();"></ion-refresher>
        <ion-list class="list2-1" ng-if="tabIndex===0">
            <ion-item class="item2-1" ng-click="chidaoChitiet(item)" ng-repeat="item in danhsachgiaoviec track by $index">
                <div class="row2-1">
                    <ion-icon class="icon-doc-1 ion-folder "> </ion-icon>
                    <div class="col-2">
                        <p class="lbl2-3">{{item.NoiDungGiao}}</p>
                    </div>

                </div>
                <div class="row2-1b">
                    <p class="lbl2-5b">Người nhận: {{item.NguoiDuocGiao}}</p>
                    <p class="lbl2-5b">Người giao: {{item.NguoiGiao}}</p>
                    <p class="lbl2-4">Thời gian xử lý: {{item.ThoiHanXuLy}}</p>
                    <!-- <p class="lbl2-4">Thời gian xử lý: {{item.ThoiHanXuLy}}</p> -->
                </div>
            </ion-item>
        </ion-list>
        <ion-list class="list2-1" ng-if="tabIndex===1">
            <ion-item class="item2-1" ng-click="chidaoChitiet(item)" ng-repeat="item in danhsachgiaoviec track by $index">
                <div class="row2-1">
                    <ion-icon class="icon-doc-1 ion-folder "> </ion-icon>
                    <div class="col-2">
                        <p class="lbl2-3">{{item.NoiDungGiao}}</p>
                    </div>
                    <!-- <p class="lbl2-2">{{item.ngaynhan}}</p> -->
                </div>
                <div class="row2-1b">
                    <p class="lbl2-5b">Người nhận: {{item.NguoiDuocGiao}}</p>
                    <p class="lbl2-5b">Người giao: {{item.NguoiGiao}}</p>
                    <p class="lbl2-5b">Thời gian xử lý: {{item.ThoiHanXuLy}}</p>
                    <!-- <p class="lbl2-4">Thời gian xử lý: {{item.ThoiHanXuLy}}</p> -->
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadPage();" distance="2" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
    <div class="icon-fixed">
        <input type="checkbox" class="cbo2-3" id="build_view2_reg" ng-click="openModal();"/>
        <label class="iconsprite2-plus" for="build_view2_reg"></label>
    </div>
</ion-view>