<!DOCTYPE html>
<ion-view view-title="{{::title}}" class="list-thongke" hide-back-button="false">
    <ion-content class="content-type1 has-header">
        <ion-list class="list2-2">
            <ion-item class="item2-2" ng-click="onXuLyVanBan();">
                <span class="icon2-3 iconsprite2-6"></span>
                <p class="lbl2-33">Xử lý văn bản</p>
            </ion-item>
            <ion-item class="item2-2"  ng-click="onXyLyHoSo();">
                <span class="icon2-3 iconsprite2-6"></span>
                <p class="lbl2-33">Xử lý hồ sơ</p>
            </ion-item>
            <ion-item class="item2-2" ng-click="onXuLyPhanAnh();">
                <span class="icon2-3 iconsprite2-6"></span>
                <p class="lbl2-33">Phản ánh, kiến nghị</p>
            </ion-item>
            <ion-item class="item2-2" ng-click="onXuPhatHanhChinh();">
                <span class="icon2-3 iconsprite2-6"></span>
                <p class="lbl2-33">Xử phạt hành chính</p>
            </ion-item>
            <ion-item class="item2-2" ng-click="onChuyenNganh();">
                <span class="icon2-3 iconsprite2-6"></span>
                <p class="lbl2-33">Chuyên ngành</p>
            </ion-item>
            <ion-item class="item2-2" ng-click="onGiaoViec();">
                <span class="icon2-3 iconsprite2-6"></span>
                <p class="lbl2-33">Giao việc</p>
            </ion-item>
            <ion-item class="item2-2" ng-click="onDanhGiaHaiLong();">
                <span class="icon2-3 iconsprite2-6"></span>
                <p class="lbl2-33">Đánh giá hài lòng</p>
            </ion-item>
            <ion-item class="item2-2" ng-click="onGiaiQuyetDonThu();">
                <span class="icon2-3 iconsprite2-6"></span>
                <p class="lbl2-33">Giải quyết đơn thư</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
