<!DOCTYPE html>
<ion-view view-title="{{::title}}" class="thongke-danhgiahailong">
    <ion-content class="content-type1 has-header" overflow-scroll="false">
        <div class="wrapper2-16">
            <select class="cbo2-15" ng-model="countSelectedMonths" ng-options="label for label in monthArray" ng-change="onChangeMonths(countSelectedMonths)">
            </select>
            <select class="cbo2-15" ng-model="countSelectedYears" ng-options="label for label in yearArray" ng-change="onChangeYears(countSelectedYears)">
            </select>
        </div>
        <div class="chart-container">
            <div fusioncharts width="100%" height="400" type="doughnut2d" dataSource="{{myDataSource_thongke}}"></div>
        </div>
    </ion-content>
</ion-view>