.thongke-congviecdagiao .wrapper2-16 {padding: 10px;text-align: right}
.thongke-congviecdagiao .btn1-1 {width: 50%;font-size: 14px;}
.thongke-congviecdagiao .fixed-top.list-thongke {background: transparent;border: none;}
.thongke-congviecdagiao .cbo2-15 {padding: 5px;border: none;font-weight: 600;font-size: 16px;margin-left: 5px;color: #009900;}
.thongke-congviecdagiao ion-content.scroll-content.ionic-scroll:not(.content-type1):not(.div-popup):not(.box1-2) {top: 90px;padding-top: 0;}
.thongke-congviecdagiao .wrapper2-17 {padding-top: 15px;margin: 0 10px;border-top: 1px solid #ddd;}
.thongke-congviecdagiao .lbl2-34 {text-align: center;font-weight: 700;font-size: 16px;color: #333333;}
.thongke-congviecdagiao .wrapper2-17b {padding: 5px 20px 0;display: flex;align-items: center;font-size: 16px;}
.thongke-congviecdagiao .box2-2 {width: 50%;}
.thongke-congviecdagiao .lbl2-34b {font-weight: 700;color: #009933;padding-bottom: 5px;margin-bottom: 5px;border-bottom: 1px solid #F2F2F2;}
.thongke-congviecdagiao .lbl2-34b::before {content: "•";display: inline-block;color: #009933;font-size: 25px;margin-right: 5px;vertical-align: bottom;}
.thongke-congviecdagiao .lbl2-34c {margin-bottom: 3px;}
.thongke-congviecdagiao .lst2-10 {padding-left: 10px;}
.thongke-congviecdagiao .item2-10 {margin-bottom: 3px;}

@media (min-width: 767px) {
    .thongke-congviecdagiao .wrapper2-17{width: 70%;margin: 0 auto}
}
.platform-ios.platform-cordova .thongke-xulyvanban ion-content.scroll-content.ionic-scroll:not(.content-type1):not(.div-popup):not(.box1-2) {
    top: 110px;
}