.wraper2-13 {font-size: 16px;margin-bottom: 5px;}
.lbl2-13b.style2-1 {color: #0033FF;}
.item2-7 {display: flex;align-items: center;justify-content: space-between;margin-top: 10px;margin-left: 30px;border-bottom: 1px dashed #009802;}
.lbl2-7c {font-weight: 700;font-size: 16px;color: #666666;}
.lst2-7 {margin-bottom: 20px;}
.item2-7:last-child {border-bottom: none;}
.lbl2-13b.style2-2 {display: inline-block;width: 100%;}
.chitiet-giaoviec .lbl2-10c {margin: 10px 0 0 20px;display: block;}