#!/bin/bash
# ThanhTN

PLATFORM="cordova"
DF_TARGET="ios"		# "ios" / "android"
DF_BUILD="release"	# "debug" / "release"
DF_DEPLOY="yes"		# "yes" / "no"
DF_PACKAGE="no"		# "yes" / "no"
DF_NEW="yes"		# "yes" / "no"
DF_MINIFY="yes"		# "yes" / "no"
PROJECT_PATH=$PWD
SB_PROJECT_BUILD_ANDROID_PATH="./platforms/android/build/outputs/apk"
SB_PROJECT_BUILD_IOS_PATH="./platforms/ios"
PLIST_PATH=$PROJECT_PATH"/config/plistOpt.plist"
PLIST_DEV_PATH=$PROJECT_PATH"/config/plistOpt_dev.plist"
CORDOVA_ANDROID_VER="6.2.3"
CORDOVA_IOS_VER="4.5.4"
cw_ver="17.46.448.10"

# color
red='\x1B[0;31m'
green='\x1B[0;32m'
lgreen='\x1B[1;32m'
blue='\x1B[0;34m'
lblue='\x1B[1;34m'
orange='\x1B[0;33m'
yellow='\x1B[1;33m'
purple='\x1B[0;35m'
cyan='\x1B[0;36m'
NC='\x1B[0m' # No Color
