.chitiet-thongbao .lbl2-24b {font-weight: 700;font-size: 16px;color: #666666;width: calc(100% - 80px);}
.chitiet-thongbao .lbl2-24 {background: #F2F2F2;padding: 10px;display: flex;justify-content: space-between;}
.chitiet-thongbao .lbl2-24c {font-weight: 400;font-style: italic;font-size: 14px;color: #0066FF;width: 80px;text-align: right;}
.chitiet-thongbao .lbl2-25 {font-size: 16px;padding: 15px 10px;}
.chitiet-thongbao .lbl2-10 {padding: 10px;display: flex;}
.chitiet-thongbao .lbl2-10b {width: 100px;}
.chitiet-thongbao .wrapper2-14 {width: calc(100% - 100px);}
.chitiet-thongbao .lbl2-10c {margin-bottom: 10px;display: block;border: none;background: transparent;}