<!DOCTYPE html>
<ion-view view-title="{{::title}}" class="chitiet-vbchidao" hide-back-button="false">
    <ion-content scroll="false" class="content-type1">
        <div class="fixed-top list-chitietvbchidao">
            <div class="content">
                <button class="btn1-1 active" ng-class='{active: tabIndex===0}' ng-click='onTabChange(0)'>Chi tiết văn bản</button>
                <button class="btn1-1" ng-class='{active: tabIndex===1}' ng-click='onTabChange(1)'>Tiến độ xử lý</button>
                <button class="btn1-1" ng-class='{active: tabIndex===2}' ng-click='onTabChange(2)'>Nhắc nhở</button>
            </div>
        </div>
    </ion-content>
    <ion-content class="has-header">
        <div class="container" ng-if="tabIndex===0">
            <div class="lbl2-10">
                <span class="lbl2-10b">Số ký hiệu: </span>
                <span class="lbl2-10c style2-1">{{detail.sokyhieu}}</span>
            </div>
            <div class="lbl2-10">
                <span class="lbl2-10b">Ngày phát hành: </span>
                <span class="lbl2-10c">{{detail.ngayphathanh}}</span>
            </div>
            <div class="lbl2-10">
                <span class="lbl2-10b">Số đến: </span>
                <span class="lbl2-10c">{{detail.soden}}</span>
            </div>
            <div class="lbl2-10">
                <span class="lbl2-10b">Ngày đến: </span>
                <span class="lbl2-10c">{{detail.ngayden}}</span>
            </div>
            <div class="lbl2-10">
                <span class="lbl2-10b">Trích yếu: </span>
                <span class="lbl2-10c">{{detail.trichyeu}}</span>
            </div>
            <div class="lbl2-10">
                <span class="lbl2-10b">Nơi phát hành: </span>
                <span class="lbl2-10c">{{detail.noiphathanh}}</span>
            </div>
            <div class="lbl2-10">
                <span class="lbl2-10b">Người ký: </span>
                <span class="lbl2-10c">{{detail.nguoiky}}</span>
            </div>
            <div class="lbl2-10">
                <span class="lbl2-10b">Loại văn bản: </span>
                <span class="lbl2-10c">{{detail.tenloaivanban}}</span>
            </div>
            <div class="lbl2-10">
                <span class="lbl2-10b">Hạn xử lý: </span>
                <span class="lbl2-10c">{{detail.hanxulychidao}}</span>
                <span class="lbl2-10c" ng-if="!detail.hanxulychidao">Không giới hạn</span>
            </div>
            <div class="lbl2-10">
                <span class="lbl2-13b style2-2">Tệp đính kèm: </span>
                <span class="lbl2-10c" ng-repeat="file in detail.filedinhkems track by $index" ng-click="openFile(file.resourcecode, file.primkey, file.fileid)">
                    <i class="icon2-3 ion-android-attach" ></i> {{file.filename}}<br/></span>
            </div>
            <div class="lbl2-10">
                <span class="lbl2-10b">Hạn xử lý: </span>
                <span class="lbl2-10d">{{detail.hanxuly}}</span>
                <span class="lbl2-10d" ng-if="!detail.hanxuly">Không giới hạn</span>
            </div>
        </div>
        <div class="container" ng-if="tabIndex===1">
            <ion-tree-list items="tasks" template-url="app/xu-ly-cong-viec/chitietvbchidao.treeview.html"></ion-tree-list>
        </div>
        <div class="container style2-1" ng-if="tabIndex===2">
            <!-- <div class="lbl2-13">
                <p class="lbl2-13b iconbfsprite2-3">Tiến độ xử lý văn bản</p>
            </div>
            <div class="lbl2-16">
                <textarea class="textarea2-2" ng-model="nhacnhochung.noidungnhacnho" placeholder="Nhập nội dung nhắc nhở"></textarea>
                <button class="btn2-15" ng-click="luuNhacnho(null);">Gửi</button>
            </div> -->
            <ion-list class="lst2-5">
                <ion-item class="item2-5" ng-repeat="item in nhacnho track by $index">
                    <span class="icon2-3 ion-checkmark-round"></span>
                    <div class="wrapper2-7">
                        <p class="lbl2-6a">{{item.tennguoiduocnhacnho}}</p>
                        <p class="lbl2-6b">Tiến độ xử lý: <p ng-if="item.tiendo == 100">Đã hoàn thành báo cáo</p></p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{item.tiendo}}" aria-valuemin="0" aria-valuemax="100" style="width:{{item.tiendo}}%">
                            <span class="progress-value" >{{item.tiendo}}%</span>
                          </div>
                        </div>
                        <div class="lbl2-16">
                            <textarea class="textarea2-2" ng-model="item.noidungnhacnho" placeholder="Nhập nội dung nhắc nhở"></textarea>
                            <button class="btn2-15" ng-click="luuNhacnho(item);">Gửi</button>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
